---
import BaseLayout from '@/layouts/BaseLayout.astro';
import getServiciosPage from '@/lib/hygraph/queries/getPageServices';
import { isPreview } from '@/lib/utils/sections/index';
import type { ServiciosPageQuery } from '@/gql/graphql';

const { pageInternal }: ServiciosPageQuery = await getServiciosPage(
  'servicios',
  isPreview() ? 'DRAFT' : 'PUBLISHED',
);

const [serviciosData] = pageInternal;
const {
  titlePage,
  metaTitle,
  metaDescripcion,
  backgroundPage,
  description,
  content,
} = serviciosData;
---

<BaseLayout title={'Servicios - Arkava'}>
  <section>{titlePage}</section>
</BaseLayout>
