---
import FormInput from '@/components/molecules/FormInput.astro';

const { style } = Astro.props;
---

<!-- Formulario -->
<form
  id="contactForm"
  class={`bg-white p-2 sm:p-4 md:p-8 rounded-lg shadow-2xl space-y-6 ${style}`}
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <FormInput
        type="text"
        id="name"
        name="name"
        label="Nombre"
        placeholder="Nombre completo"
        required
      />
    </div>

    <div>
      <FormInput
        name="email"
        type="email"
        id="email"
        label="Correo"
        placeholder="Ingresa tu Correo"
        required
      />
    </div>
  </div>

  <div>
    <FormInput
      name="phone"
      type="tel"
      id="phone"
      label="Telefono"
      placeholder="Ingresa tu numero Celular"
      required
    />
  </div>

  <div>
    <label
      for="contactReason"
      class="block text-sm text-gray-700 font-semibold font-primary"
      >Tipo de solicitud</label
    >
    <select
      id="contactReason"
      name="contactReason"
      class="mt-1 h-11 block w-full rounded-md border-[#d1d5db] border-[1px] shadow-sm focus:border-primary focus:ring-primary font-bold font-primary text-base text-[#abb0b6]"
      required
    >
      <option value="" disabled selected>Selecciona una opción</option>
      <option value="cotizacion">Cotización</option>
      <option value="consulta">Consulta General</option>
      <option value="otro">Otro</option>
    </select>
  </div>

  <div>
    <label
      for="message"
      class="block text-sm text-gray-700 font-semibold font-primary"
      >Mensaje</label
    >
    <textarea
      id="message"
      name="message"
      rows="4"
      class="mt-1 block w-full rounded-md border-[#d1d5db] border-[1px] shadow-sm focus:border-primary focus:ring-primary sm:text-base font-bold font-primary p-[10px]"
      placeholder="Escribe tu mensaje aquí"
      required></textarea>
  </div>

  <button
    type="submit"
    class="w-full bg-primary text-white font-semibold py-4 px-4 rounded-md hover:bg-primary/90 duration-200 transition-all cursor-pointer"
  >
    Enviar Mensaje
  </button>
</form>

<script>
  import '@/lib/utils/form-emailjs';
</script>
