---
const { data } = Astro.props;
---

<section
  class="w-full h-[80vh] md:h-[85vh] flex items-center justify-center bg-gradient-to-br from-secondary/90 to-secondary/10"
>
  <div class="mx-auto max-w-4xl px-6 text-center text-gray-800">
    <h1 class="text-3xl md:text-5xl font-pp-sans">
      {data?.title}
    </h1>
    {
      data?.description && (
        <p class="mt-4 text-base md:text-lg opacity-90">{data.description}</p>
      )
    }
  </div>
</section>
