---
import Container from '../molecules/Container.astro';
---

<section class="h-[60vh] bg-[#f8f8f8]">
  <Container styles="flex flex-col items-center justify-center h-full">
    <h2 class="text-3xl md:text-5xl font-pp-sans">proyectos home</h2>
    <p class="font-helvetica text-gray-800">prijectsss Home</p>
  </Container>
</section>
