---
import Container from '../molecules/Container.astro';
---

<section class="h-[60vh] bg-quaternary">
  <Container styles="flex flex-col items-center justify-center h-full">
    <h2 class="text-3xl md:text-5xl font-pp-sans">Servicios</h2>
    <p class="font-helvetica text-gray-800">
      En Arkava, nos enorgullecemos de ofrecer servicios de calidad que cumplen
      con las expectativas de nuestros clientes. Nuestro compromiso con la
      excelencia nos lleva a brindar soluciones innovadoras y eficientes para
      satisfacer las necesidades de cada proyecto.
    </p>
  </Container>
</section>
