---
import Section from '@/components/atoms/Section.astro';
import Container from '@/components/molecules/Container.astro';
---

<Section style="h-[75vh] bg-[#fff]">
  <Container>
    <h2>Cielo Raso</h2>
  </Container>
</Section>
