---
import Section from '@/components/atoms/Section.astro';
import Container from '@/components/molecules/Container.astro';
---

<Section style="h-[75vh] bg-primary">
  <Container>
    <h2>Pintura</h2>
  </Container>
</Section>
